/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.accordion {
    background-color: #eeebdd;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    min-height: 70px;
    display: flex;
    align-items: center;
    /* border: 2px solid #1b1717; */
    border-radius: 10px;
    padding: 0 25px 0 40px;
}

.accordion-item {
    border: 2px solid #1b1717;
    border-radius: 10px;
    background: #eeebdd;
}

.accordion span {
    font-size: 30px;
    font-weight: 700;
    color: #000;
}

.accordion span:first-child {
    margin: 0 38px 0 0;
}

.accordion-cross {
    width: 40px;
    height: 40px;
    position: relative;
    margin-left: auto;
}

.accordion-cross::before,
.accordion-cross::after {
    position: absolute;
    content: "";
    width: 38px;
    height: 5px;
    border-radius: 40px;
    left: 50%;
    top: 50%;
    background: #810000;
    transform: translate(-50%, -50%);
}

.accordion-cross::after {
    transform: translate(-50%, -50%) rotate(90deg);
    transition: all 0.3s;
}

.accordion.active .accordion-cross::after {
    transform: translate(-50%, -50%) rotate(0deg);
}

.panel {
    /* background-color: #eeebdd; */
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    -o-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
    /* border-radius: 10px; */
}

.accordion-list {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 15px 20px;
    gap: 10px;
    list-style-type: none;
}

.accordion-list li {
    font-size: 24px;
    font-weight: 400px;
    color: #000;
    display: flex;
    align-items: center;
    gap: 10px;
}

.accordion-list li::before {
    content: "";
    display: inline-block;
    background: #810000;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
}
