/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.menu-icon {
    display: none;
}

.burger {
    display: hidden;
}

.burger-menu {
    display: none;
}

@media (max-width: 940px) {
    .burger-menu {
        display: block;
        /* position: absolute; */
        top: 50px;
        right: 80px;
        margin-left: auto;
    }
    .menu-icon {
        position: relative;
        z-index: 101;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 16px;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .menu-icon .menu-icon-line {
        display: block;
        border-radius: 40px;
        width: 100%;
        height: 2.5px;
        background: #810000;
        transition: all 0.3s;
    }

    .menu-icon.active-modal .menu-icon-line {
        opacity: 0;
        visibility: hidden;
    }

    .menu-icon::after,
    .menu-icon::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2.5px;
        background: #810000;
        border-radius: 40px;
        transition: all 0.3s;
    }

    .menu-icon::after {
        left: 0;
        top: 0;
    }

    .menu-icon::before {
        left: 0;
        bottom: 0;
    }
    .menu-icon.active-modal.menu-icon::after {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .menu-icon.active-modal.menu-icon::before {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .menu-body {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: #eeebdd;
        /* padding: 100px 30px 30px 30px; */
        -webkit-transition: left 0.4s ease-in;
        -o-transition: left 0.4s ease-in;
        transition: left 0.4s ease-in;
        overflow: auto;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .sub-menu {
        padding: 0;
    }
    .menu-body.active-modal {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .menu-body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
    }
    .menu-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 48px;
        width: 100%;
    }
    .menu-footer {
        width: 100%;
        border-top: 3px solid #1b1717;
        height: 200px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .burger-social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-item-align: start;
        align-self: flex-start;
        gap: 20px;
    }

    .burger-social a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 8px;
        font-size: 18px;
        color: #1b1717;
        font-weight: 700;
    }
    .burger-social a img {
        width: 100%;
        max-width: 25px;
    }
    .menu-list > ul {
        list-style: none;
        /* -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        /* padding-top: 120px; */
        /* padding-bottom: 50px; */
        /* text-align: center; */
        text-align: center;
        gap: 25px;
        margin-top: 100px;
    }
    .menu-list > ul > li {
        /* margin: 0 0 15px 0; */
    }
    .menu-list > ul > li:last-child {
        margin: 0 0 0 0;
    }
    .menu-list > ul a {
        font-size: 24px;
        text-decoration: none;
        color: #1b1717;
        font-weight: 400;
    }
    .sub-menu {
        display: block;
        position: relative;
        text-align: center;
        left: 0;
    }
    .sub-menu > li > a {
        font-size: 14px;
        text-align: center;
    }
    .sub-menu > li {
        background-color: transparent;
        text-align: center;
    }
}
